In [1]:
# -----------------------------
# STRING OPERATIONS
# -----------------------------

# Concatenation
print("good" + " morning")
print("python" + "technology")
print("python" + "3.5")
print(1234)

good morning
pythontechnology
python3.5
1234

In [2]:
# -----------------------------
# STRING MULTIPLICATION
# -----------------------------
print("Good" * 5)
print(5 * "Good")

GoodGoodGoodGoodGood
GoodGoodGoodGoodGood

In [3]:
# -----------------------------
# STRING SLICING
# -----------------------------
s = "python is Easy!!!"
print(s)
print(s[0])        # first char
print(s[3:9])      # slice
print(s[4:])       # from index 4 to end
print(s[-1])       # last char
print(s[:5])       # first 5 chars

python is Easy!!!
p
hon is
on is Easy!!!
!
pytho

In [4]:
# -----------------------------
# UNICODE / ESCAPE SEQUENCES
# -----------------------------
print("what's your name?")
print('what\'s your name?')
print("The boy replied, \"My name is Aaditya\"")
print("The boy replied,\n\"My name is Aaditya\"")
print("The boy replied,\t\"My name is Aaditya\"")

# This line was incorrect — fixed by escaping the backslash:
print("The boy replied \\ My name is Aaditya")

print("*****************************************")

what's your name?
what's your name?
The boy replied, "My name is Aaditya"
The boy replied,
"My name is Aaditya"
The boy replied,	"My name is Aaditya"
The boy replied \ My name is Aaditya
*****************************************

In [9]:
# Escape sequences
print("\\")
print("\'")
print("\"")
print("Hello\nworld")
print("Hello\tworld")
print("\056")      # octal
print("\x2E")      # hex
print("\x87")      # hex

\
'
"
Hello
world
Hello	world
.
.


In [10]:
# NUMBER CONVERSIONS
# -----------------------------
print(int(0b11011))   # binary to int
print(oct(51))        # int to octal
print(int(0x360))     # hex to int
print(hex(51))        # int to hex
print(int(0x33))      # hex to int

27
0o63
864
0x33
51

In [11]:
# IDENTITY OPERATORS
# -----------------------------
x = [1, 2]
y = [1, 1]
print("x is y:", x is y)

z = x
print("x is z:", x is z)

x1 = 5
y1 = 5
x2 = "Hello"
y2 = "Hello"
x3 = [1, 2, 3]
y3 = [1, 2, 3]

print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

x is y: False
x is z: True
False
True
False

In [12]:
# MEMBERSHIP OPERATORS
# -----------------------------
message = "hello world"
dict_data = {1: 'a', 2: 'b'}

print('h' in message)
print('hello' in message)
print('HELLO' in message)

print(1 in dict_data.keys())
print('a' in dict_data.values())

True
True
False
True
True

In [13]:
# TERNARY OPERATOR
# -----------------------------
x = -0.5
result = "positive" if x > 0 else "negative"
print(result)

x = 5
result = "positive" if x > 0 else "negative"
print(result)

negative
positive

In [14]:
# EXPRESSIONS
# -----------------------------
expr = 10 + 20 * 30
print(expr)

print((40 + 20) * 30 / 10)
print(40 + (20 * 30) / 10)

print(False == False or True)
print(False == (False or True))

610
180.0
100.0
True
False

In [ ]:
# USER INPUT
# -----------------------------
name = input("What's your name? ")
age = input("Enter your age: ")
print(name + " you are " + age + " years old")

pushpendra  you are 23 years old
world

In [16]:
# Basic use of format()
name = "Aaditya"
age = 20

print("My name is {} and I am {} years old.".format(name, age))

My name is Aaditya and I am 20 years old.

In [17]:
# Using index numbers inside format()
print("I live in {1} and my friend lives in {0}".format("Delhi", "Jaipur"))

I live in Jaipur and my friend lives in Delhi

In [18]:
# Using named placeholders
print("Student: {name}, Roll No: {roll}".format(name="Pushpendra", roll=25201312))

Student: Pushpendra, Roll No: 25201312

In [19]:
# Formatting numbers
pi = 3.1415926
print("Value of pi = {:.2f}".format(pi))

Value of pi = 3.14

In [20]:
text = "Hello"

print("Left aligned  :", "{:<10}".format(text))
print("Right aligned :", "{:>10}".format(text))
print("Centered      :", "{:^10}".format(text))

Left aligned  : Hello
Right aligned :      Hello
Centered      :   Hello

In [21]:
num = 25

print("Binary: {0:b}".format(num))
print("Octal: {0:o}".format(num))
print("Hexadecimal: {0:x}".format(num))

Binary: 11001
Octal: 31
Hexadecimal: 19

In [22]:
# Creating a simple table
print("{:<10} {:<10} {:<10}".format("Name", "Sub", "Marks"))
print("{:<10} {:<10} {:<10}".format("Jatin", "Math", 95))
print("{:<10} {:<10} {:<10}".format("Riya", "Science", 88))
print("{:<10} {:<10} {:<10}".format("Aman", "English", 76))

Name       Sub        Marks
Jatin      Math       95
Riya       Science    88
Aman       English    76

In [23]:
marks = 430
total = 500
percentage = (marks / total) * 100

print("Your result is {:.2f}%".format(percentage))

Your result is 86.00%