## wap to sum of series

In [5]:
n = int (input("please enter a number: "))
sum = 0
for i in range(1,n+1):
    sum+=i/(i+1)
print("the sum is: ",sum)

the sum is:  3.5500000000000003

In [6]:
n = int (input("please enter a number: "))
sum = 0
for i in range(1,n+1):
    sum+=(i**2)/i
print("the sum is: ",sum)

the sum is:  15.0

## wap to print a 3x3 grid

In [10]:
for i in range(3):
    for j in range(3):
        print("("   + str(i) +  ' ' + str(j)  + ")",end=" ")
    print()

(0 0) (0 1) (0 2)
(1 0) (1 1) (1 2)
(2 0) (2 1) (2 2)

## matrix multiplication on 2x2 matrix

In [11]:
#matrix multiplication 
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
B = [[9, 8, 7],
     [6, 5, 4],
     [3, 2, 1]]
result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]
for i in range(len(A)):
    for j in range(len(B[0])):
        for k in range(len(B)):
            result[i][j] += A[i][k] * B[k][j]
for r in result:
    print(r)

[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

## * pattern

In [12]:
n = 5
for i in range(n):
    for j in range(i + 1):
        print("*", end="")
    print() 

for i in range(n-1, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

## generating combination

In [13]:
#generating combinations
adjectives = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for adjective in adjectives:
    for fruit in fruits:
        print(adjective, fruit)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## *pattern

In [14]:
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "*" * (2 * i + 1)+" " * (n - i - 1))

for i in range(n-2, -1, -1):
    print(" " * (n - i - 1) + "*" * (2 * i + 1)+" " * (n - i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## print febonacci series

In [15]:
n = int(input("Enter the number of terms in the Fibonacci sequence: "))
a, b = 0, 1
print("Fibonacci sequence:")
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Fibonacci sequence:
0 1 1 2 3

## prime number in 50 and 100

In [16]:
print("Prime numbers between 50 and 100:")  
for num in range(50, 101):
    if num > 1:
        for i in range(2, int(num**0.5) + 1):
            if (num % i) == 0:
                break
        else:
            print(num, end=' ')

Prime numbers between 50 and 100:
53 59 61 67 71 73 79 83 89 97

## *  pattern

In [17]:
n = int(input("Enter size of row and column: "))
for i in range(n):
    for j in range(n):
        if(i==j):
            print("*", end="")
        else:
            print(" ", end="")
    print()

*
 *
  *
   *

## hallow sequence

In [18]:
n = int(input("Enter size of row and column: "))
for i in range(n):
    for j in range(n):
        if(i==0 or i==n-1 or j==0 or j==n-1):
            print("*", end="")
        else:
            print(" ", end="")
    print()

****
*  *
*  *
****